.comment {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    min-width: 50%;
}

.colorBox {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}

.text {
    flex: 1;
    margin-right: 1rem;
}

.deleteBtn {
    background-color: red;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: darkred;
    }
}