.formContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.textInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    margin-right: 10px;
}

.addButton {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.addButton:hover {
    background-color: #0056b3;
}
